<!-- Home page of J's Student Datatbase using twitter bootstrap-->
<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <title>AIS 通用数据查询系统</title> 
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
<script>
$(function () {
    $.scrollUp({
    animation: 'fade',
    scrollDistance: $("nav.navbar-static-top").height(),
    scrollSpeed: 100, 
    scrollImg: {
        active: true,
        type: 'background',
        src:"{{ url_for('static', filename='images/top.png') }}" 
        }
      });
 });
$(function(){
    $("#back-to-top").click(function(){
    alert("yes");
  })
})

</script>
<style  type="text/css">
#scrollUp {
    background-image: url("{{ url_for('static', filename='images/top.png') }}");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
    border-style: none;
}

</style>
{% block headscript %}{%endblock%}
  </head>
  <body style="margin-top: 0px;  " data-spy="scroll" style="position:relative" data-target=".scrollspy">
       <nav class="navbar navbar-default navbar-static-top" role="navigation" style="z-index:2147483647">
        <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
      </button>
          <span class="navbar-brand" >AIS 通用数据查询系统</span>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
              <li id="navsearch"><a href="{{ url_for('home') }}">数据查询</a></li>
              <li id="navtasklist" ><a href="{{ url_for('tasklist') }}">任务列表</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


{% block body %}{%endblock%}
    </body>